*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    display: flex;
    /* Propiedades para alinear y ajustar mejor las cartas */
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(./img/Península.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.card{
    position: relative;
    width: 300px;
    height: 350px;
    /* Aplicar márgenes con resto de cartas */
    margin: 20px;
}

.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    /* Determina si la cara posterior de un elemento es visible de frente al usuario.
    La cara posterior de un elemento es siempre un fondo transparente, permitiendo, cuando es visible, que se muestre una imagen de espejo de 
    la cara frontal. Tiene la propiedad visible: significa que la ccara posterior es visible, permitiendo que la cara frontal se muestre invertida.
    Hidde: significa que la cara posterior no es visible, ocultando la cara frontal */
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
}
.card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0px 5px 10px black;

}
.card .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    /* Indica cómo el contenido de un elemento deberá ser redimensionado para ajustarse a su contenido */
    object-fit: cover;
}
.card .front h3{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: antiquewhite;
    background: rgb(0, 0, 0, 0.4);
    text-align: center;
}
.card .back{
    transform: perspective(600px) rotateY(180deg);
    box-shadow: 0px 5px 10px black;
    background: rgb(3, 35, 54);
    padding: 15px;
    color: blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.card .back .link{
    border-top: 1px solid blanchedalmond;
    height: 50px;
    line-height: 50px;
}
.card .back .link a{
    color: blanchedalmond;

}
.card .back h3{
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}
.card .back p{
    letter-spacing: 1px;
}
.card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}